.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding-top: 40px; 
    padding-bottom: 40px;
}

.calculator {
    border-radius: 10px;
    background-color: #d3e2e6;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.tabl {
    border-radius: 50px;
    background-color: #0fccee;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.display {
    min-height: 200px;
    padding: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: rgb(66, 34, 117);
    text-align: right;
    flex: 110%;
}
.display .input {
    font-size: 30px;
    margin-bottom: 8px;
}
.display .output {
    font-size: 50px;
    font-weight: 700;
    width: 100%;
    overflow: auto;
}

.display.operator {
    color: #EB6666;
}

.calculator table {
    width: 100%;
}

.calculator button {
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 5px;
    border: none;
    border-radius: 50px; 
    background-color: #a5d1e6;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator button:hover {
background-color: #d6dde4;
}

.button {
    width: 100%; 
    height: 100%; 
    border: none;
    background-color: aqua;
    cursor: pointer;
    font-size: 20px;
}
.square {
    width: 300px; 
    height: 50px; 
    border-radius: 50px;
    border: 2px solid #a5d1e6; 
    background-color: #a5d1e6;
    text-align: center; 
    padding: 5px; 
}
.square button {
    float: left;
    width: 30%;  
}
.row {
    width: 50px; 
    height: 300px; 
    border-radius: 50px;
    border: 2px solid #a5d1e6; 
    background-color: #a5d1e6;
    text-align: right;
    padding: 5px; 
}
.button-container {
    display: flex;
    align-items: center;
}


/* Butonun görünümünü değiştiren stil */
#darkModeToggle {
    position: relative;
    top: -350px;
    left: 150px;
    width: 60px;
    height: 60px;
    background-color: aqua;
    border-radius: 10px; 
    overflow: hidden;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}
.dark-theme #darkModeToggle {
    background-color: black; 
}

#d {
    margin-right: 10px; 
}

.back {
    background-color: #f7f0f0;
}
.back img {
    max-width: 80px; 
    max-height: 80px; 
    object-fit: cover; 
}

.back {
    top: -350px;
    left: 250px;
    width: 60px;
    height: 60px;
    background-color: #f7f0f0;
    border-radius: 50%;
    position: relative; 
    overflow: hidden; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
}
.back img {
    max-width: 80px; 
    max-height: 80px; 
    object-fit: cover; 
}
.body {
    transition: background-color 0.5s ease; 
}
.dark-theme .container {
    background-color: #111; 
}

.dark-theme .calculator {
    background-color: #222;
}

.dark-theme .tabl {
    background-color: #333; 
}

.dark-theme .display {
    color: #fff; 
}

.dark-theme .calculator button {
    background-color: #444; 
    color: #fff; 
}

.dark-theme .calculator button:hover {
    background-color: #666;
}

.dark-theme .square {
    background-color: #444;
    border: #444;
}


.dark-theme .row {
    background-color: #444; 
    border: #444;
}
